*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
  background-color: #fefcfd;
  font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", "Meiryo", sans-serif
}

.point {
  color: red
}

.blur-background {
  background-color: rgba(0, 0, 0, 0.05);
}

.MuiAccordionSummary-root:hover{
  background-color: #e6f4ff;
  }

.custom-notification {
  z-index: 9998 !important;
}

.ant-notification {
  z-index: 9998 !important;
}